*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
    will-change: filter;
    transition: filter 300ms;
    width: 80px;
  }
.logo:hover {
    filter: drop-shadow(0 0 2em #08080daa);
}
@media(max-width:700){
  .logo{
      width: 20px;
  }
  .mainlinks i{
      font-size: 15px;
  }
  svg{
      width: 15px;
  }
}
a{
  text-decoration: none;
  color: black;
}
.mainlinks i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.mainlinks i:hover {
  color: #ff3c00; /* Hover color */
}
  
.links a {
    font-weight: bold;
    cursor: pointer;
}
/*body*/
/*grid*/
.headcontainer{
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.photo-gallery{
  display: flex;
  gap: 20px;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo{
  max-height: 800px;
}
.photo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
@media(max-width:768px){
  .photo-gallery{
    flex-direction: column;
  }
}
.box{
  max-width: 90%;
  will-change: filter;
  transition: filter 300ms;
  color: rgba(0, 0, 0, 0.616);
  cursor: pointer;
}
.box:hover {
  filter: drop-shadow(0 0 2em #666666aa);
}
/*main body */
.title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 4rem;

}
.DesignTitle {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.sc1{
  background-color: rgba(247, 247, 247, 0.774);
  padding: 10px;
  margin-top: 130px;
}
.row{
  margin-top: 30px;
}
.webs{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10px;
}
.webs a {
  text-decoration: none;
}
.web {
  margin-bottom: 50px;
  padding: 0px 5px 100px 5px;
  background-color: #ecebe3;
  width: 450px;
  height: 720px;
  box-shadow: #636161;
  border-radius: 4px;
}
.web img{
  height: 550px;
  border-radius: 4px;
}

.web h4 {
  color: black;
  line-height: 35px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.web p {
  color: grey;
  margin-left: 13px;
  font-size: 20px;
  font-weight: bold;
  max-width: 100%;
  line-height: 22px;
}

.web a:hover > * {
  transform: translateY(0px);
}
.web a > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.web img {
  max-height: 80%;
  width: 100%;
  padding: 3px;
  margin: auto;
  display: block;
  position: relative;
  cursor: pointer;
}
.more{
  padding-right: 20px;
  padding-bottom: 100px;
}
.more a{
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
  color: #00000096;
  text-decoration: none;
}
.more i{
  font-size: 40px;
}
.more h3{
  margin-top: 5px;
  font-size: 23px;
  font-weight: bold;
  margin-right: 8px;
}
.arrow{
  font-size: 40px;
}
/* cart */
.cartTab{
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}
body.showCart .cartTab{
  right: 0;
}
body.showCart .container{
  transform: translateX(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  background-color: #E8BC0E;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close{
  background-color: #eee;
}
.listCart .item img{
  width: 100%;
}
.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
body.showCart body{
  right: 0;
}
body.showCart .search{
  transform: translateX(-250px);
}








/*icons for bedroom page*/
.picon{
  margin: 50px 0px;
}
.picon i{
  font-size: 30px;
  background-color: #353432;
  padding: 12px;
  border-radius: 30px;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.picon button{
  font-size: 18px;
  background-color: #353432;
  padding: 10px;
  border-radius: 40px;
  color: white;
}