.liPr{
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: rgba(255, 235, 199, 0.479);
    padding: 10px;
}

.web{
    margin: 15px;
}

.web > * {
    transform: none;
    transition: none;
  }

.web:hover > * {
    transform: none;
}

.web .price{
    color: rgb(255, 86, 86);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.productIcon{
    padding: 12px;
    font-size: 22px;
    padding-left: 0px;
}
.productIcon *{
    margin-right: 20px;
    color: black;
    margin-left: 20px;
}
