.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.im img{
    display: block;
    height: 180px;
    width: 180px;
    margin: 50px 0px 0px 100px;
    margin-bottom: -20px;
    cursor: pointer;
    border: 2px solid transparent;
}

img:hover{
    border-color: black;
}

.bigImg{
    margin: 70px 0px 0px 50px;
}
.bigImg img{
    height: 820px;
}
.rate{
    margin-left: -20px;
    padding: 20px;
}
.rate *{
    display: inline;
}
.des{

    align-items: start;
    position: static;
    margin: 80px 0px 0px 50px;
    font-size: 25px;
    padding: 120px;
}
.des p{
    font-size: 22px;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.678);
}

.des .price{
    color: rgb(255, 86, 86);
    font-weight: bolder;
    font-size: 25px;
    margin-top: 40px;
}

.btn button{
    height: 70px;
    width: 500px;
    background-color: coral;
    border-radius: 50px;
    border: 0cap;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 60%;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line i{
    margin-top: 20px;
}

/*related*/
.webs{
    margin-left: -40px;
}
.web{
    margin-left: 90px;
}
.web img{
    height: 350px;
    width: 400px;
}

.title{
    margin-top: 50px;
    margin-left: 60px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}